*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #800080, #dddd);
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.btn {
  width: 40%;
  height: 2.5rem;
  border: none;
  background: rgb(15, 151, 161);
  color: #fff;
  cursor: pointer;
  margin-bottom: 2rem;
  border-radius: 1.3rem;
}

.btn:hover {
  background: #c1c1cc;
  color: #010101;
}
